In [1]:
import numpy as np
import pandas as pd 
from IPython.display import display

%matplotlib inline

train_data = pd.read_csv("final_training_data.csv")
test_data = pd.read_csv("test.csv")

In [3]:

pd.options.display.max_rows = 4000
train_data.head()

,trip_duration,distance,pickup_c_0,pickup_c_1,pickup_c_2,pickup_c_3,pickup_c_4,pickup_c_5,pickup_c_6,pickup_c_7,...,passengers_2,passengers_3,passengers_4,passengers_5,passengers_6,passengers_7,passengers_8,passengers_9,vendor_1,vendor_2
0,455,1.502172,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,663,1.808660,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2124,6.379687,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,429,1.483632,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
4,435,1.187038,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [4]:
target = train_data['trip_duration']
train_data = train_data.drop(['trip_duration'],axis=1)

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test= train_test_split(train_data,target,random_state=0, test_size = 0.2)

In [7]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(1166915, 103)
(1166915,)
(291729, 103)
(291729,)

In [8]:
def rmsle(predicted,real):
    sum=0.0
    for x in range(len(predicted)):
        p = np.log(predicted[x]+1)
        r = np.log(real[x]+1)
        sum = sum + (p - r)**2
    return (sum/len(predicted))**0.5